@import './style.css';

* { box-sizing: border-box; }

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
